body {
    background-color: black;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 60px;
    padding-inline-start: 10px;
}

span {
    font-size: 2em;
    color: tomato;
    text-decoration: none;
    font-family: "Palatino Linotyp";
}

#container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("background.png");
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    /* nowrap shrinks */
    flex-direction: row;
    align-content: space-around;
    padding: 20px;
}

.box {
    width: 22%;
    /* 22% or 100% */
    margin-left: 10px;
    background-color: tomato;
    color: white;
    border: 2px solid black;
    padding: 20px;
}

.nav {
    width: 22%;
    margin-left: 10px;
    background-color: black;
    border: 2px solid black;
    color: antiquewhite;
    padding: 20px;
    background-image: url("img/icon.png");
}

a {
    text-decoration: none;
    color: rgb(243, 235, 235);
}

a:hover {
    color: rgb(66, 245, 21);
}

#footer {
    clear: both;
    text-align: center;
    padding: 10 px;
    background-color: #999999;
    text-align: right;
}